@import helper._
@import helper.twitterBootstrap._
@main("Học Viên") {
    @navStudent()
    <!-- /.noi dung chinh cua trang-->
    <div class="container" >
        <section>
            <div class="row">
                <div class="col-md-4 sidebar">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3>HƯỚNG DẪN CHUNG </h3>
                        </div>
                        <div class="panel-body">
                            Học viên đăng nhập bằng tài khoản cho trước <br>
                            Học viên Có thể sửa thông tin<br>
                            Học viên không thể sửa email, họ tên, mã học viên<br>

                        </div>
                    </div>
                </div>

            </div>
        </section>
    </div>

}

