@(studentForm: Form[Student])
@import helper._
@import helper.twitterBootstrap._
@main("Học Viên") {

    @navStudent()
    <h1>Thông Tin Học Viên </h1>

            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th width="100px">Mã học viên</th>
                        <th>Họ Tên </th>
                        <th>Email</th>
                        <th>Khoa </th>
                        <th>Ngày sinh</th>
                        <th>Địa chỉ</th>
                        <th>Số điện thoại</th>
                        <th>Giới tính</th>
                        <th>Ghi chú</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@studentForm.get.stt </td>
                        <td>@studentForm.get.name </td>
                        <td>@studentForm.get.email</td>
                        <td>@studentForm.get.faculty</td>
                        <td>@studentForm.get.birthday </td>
                        <td>@studentForm.get.address </td>
                        <td>@studentForm.get.phoneNumber</td>
                        <td>@studentForm.get.gender</td>
                        <td>@studentForm.get.notes </td>
                    </tr>
                </tbody>
            </table>
}

