@(teachersForm: Form[Teacher])
@import helper._
@import helper.twitterBootstrap._
@main("Giáo Viên") {
    @navTeacher()
    <div class="container" >
        <section>
            <h1>Tạo Tài Khoản Giáo Viên</h1>
            @helper.form(CSRF(routes.Teachers.save)) {
                <input type="hidden" value="@teachersForm("id").valueOr("")" name="id"/>
                <div class="row">
                    <form class="form-horizontal">
                        <div class="col-xs-6 ">
                            @helper.inputText(teachersForm("name"), '_label -> "Họ tên", 'class -> "form-control", 'readonly -> "readonly")
                            @helper.inputText(teachersForm("email"), '_label -> "Email", 'class -> "form-control", 'readonly -> "readonly")
                            @helper.select(
                                teachersForm("hocHam"),
                                options(Seq("Giáo Sư ", "Phó Giáo Sư ")),
                                '_label -> "Học hàm", '_default -> "", '_showConstraints -> true, 'class -> "form-control"
                            )
                        </div>

                        <div class="col-xs-6 ">
                            @helper.select(
                                teachersForm("faculty"),
                                options(Seq("Công Nghệ Thông Tin ", "Điện Tử Viễn Thông ", "Cơ Điện Tử", "Khoa Học Máy Tính")),
                                '_label -> "Khoa ", '_default -> "", '_showConstraints -> true, 'class -> "form-control"
                            )
                            @helper.inputText(teachersForm("password"), '_label -> "Mật khẩu", 'class -> "form-control")
                            @helper.select(
                                teachersForm("hocVi"),
                                options(Seq("Tiến Sỹ", "Thạc Sỹ", "Kỹ Sư", "Cử Nhân")),
                                '_label -> "Học vị", '_default -> "", '_showConstraints -> true, 'class -> "form-control"
                            )
                        </div>

                        <div class="col-md-6 col-md-offset-3">
                        @helper.textarea(teachersForm("notes"), '_label -> "Ghi chú", 'class -> "form-control")

                        </div>
                        <div class="col-xs-6">
                            <input type="submit" class="btn btn-primary" value="Lưu">
                            <a class="btn" href="@routes.Teachers.save()">Hủy</a>
                        </div>
                    </form>
                </div>


            }
        </section>
    </div>
}



