@(currentPage: com.avaje.ebean.Page[Teacher])
    @main("Giáo Viên ") {
        @navigation()

        <div class="container" >
            <section>
                <h2>Danh sách giáo viên </h2>
                <script>
                function del ( urlToDelete ) {
                $.ajax ( {
                url : urlToDelete,
                type : 'DELETE',
                success : function ( results ) {
                // Refresh the page
                location.reload ( ) ;
                }
                } ) ;
                }

                </script>
                <div id="pagination" class="pagination">
                    @if(currentPage.hasPrev) {
                        <li>
                            <a href="@routes.AdminTeacher.listTeacher(currentPage.getPageIndex - 1)">
                                    &larr;
                            </a>
                        </li>
                    } else {
                        <li class="disabled"><a>&larr;</a></li>
                    }
                    <li class="active">
                        <a>@currentPage.getDisplayXtoYofZ(" - ", " / ")</a>
                    </li>
                    @if(currentPage.hasNext) {
                        <li>
                            <a href="@routes.AdminTeacher.listTeacher(currentPage.getPageIndex + 1)">&rarr;</a>
                        </li>
                    } else {
                        <li class="disabled"><a>&rarr;</a></li>
                    }
                </div>

                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Họ Tên </th>
                            <th>Khoa </th>
                            <th>Email</th>
                            <th> Sửa/Xóa</th>
                        </tr>
                    </thead>
                    <tbody>
                    @for(teacher <- currentPage.getList()) {
                        <tr>
                            <td><a href="@routes.AdminTeacher.details(teacher)">@teacher.name</a></td>
                            <td>@teacher.faculty</td>
                            <td>@teacher.email</td>
                            <td>
                                <a href="@routes.AdminTeacher.details(teacher)">
                                    <span class="glyphicon glyphicon-pencil"></span></a>
                                <a onclick="javascript : del ( '  @routes.AdminTeacher.delete(teacher.email) ')">
                                    <span class="glyphicon glyphicon-trash"></span></a>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>

                <a href="@routes.AdminTeacher.newTeacher()" class="btn btn-primary">Tạo Mới</a>
            </section>
        </div>
    }
