@import helper._
@import helper.twitterBootstrap._
@main("Giáo viên") {
    @navTeacher()
    <!-- /.noi dung chinh cua trang-->
    <div class="container" >
        <section>
            <div class="row">
                <div class="col-md-4 sidebar">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3>HƯỚNG DẪN CHUNG </h3>
                        </div>
                        <div class="panel-body">
                            Giáo viên đăng nhập bằng tài khoản  mật khẩu cho trước<br>
                            Giáo viên có thể sửa thông tin của mình <br>
                            Giáo viên phải đăng nhập mới có thể sử dụng ứng dụng<br>


                        </div>
                    </div>
                </div>

            </div>
        </section>
    </div>

}

