@import helper._
@import helper.twitterBootstrap._
@main("Admin") {
    @navigation()
    <!-- /.noi dung chinh cua trang-->
    <div class="container" >
        <section>
            <div class="row">
                <div class="col-md-4 sidebar">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3>HƯỚNG DẪN CHUNG </h3>
                        </div>
                        <div class="panel-body">
                            Giáo vụ đăng nhập bằng tài khoản  mật khẩu cho trước<br>
                            Giáo viên đăng nhập bằng tài khoản giáo vụ tạo<br>
                            Học viên<br>


                        </div>
                    </div>
                </div>


            </div>
        </section>
    </div>

}

