@(studentForm: Form[Student])
    @import helper._
    @import helper.twitterBootstrap._
    @main("Học Viên") {
        @navigation()
        <div class="container" >
            <section>
                <h1>Tạo Tài Khoản Học Viên</h1>
                @helper.form(CSRF(routes.Admin.save())) {
                    <input type="hidden" value="@studentForm("id").valueOr("")" name="id"/>
                    <div class="row">
                        <form class="form-horizontal">
                            <div class="col-xs-6 ">
                                @helper.inputText(studentForm("stt"), '_label -> "Mã học viên", 'class -> "form-control")
                                @helper.inputText(studentForm("email"), '_label -> "Email", 'class -> "form-control")
                                @helper.inputDate(studentForm("birthday"), '_label -> "Ngày sinh", 'class -> "form-control")

                                @helper.select(
                                    studentForm("Course"),
                                    options(Seq("K59", "K58", "K57", "K56")),
                                    '_label -> "Khóa", '_default -> "---Chọn khóa ", '_showConstraints -> true, 'class -> "form-control"
                                )
                                @helper.inputText(studentForm("address"), '_label -> "Địa Chỉ", 'class -> "form-control")

                            </div>

                            <div class="col-xs-6 ">
                                @helper.inputText(studentForm("name"), '_label -> "Họ Tên", 'class -> "form-control")
                                @helper.inputText(studentForm("password"), '_label -> "Mật Khẩu", 'class -> "form-control")
                                @helper.select(studentForm("gender"), options = options(Seq("Nam", "Nữ")), '_label -> "Giới tính", 'class -> "form-control")

                                @helper.select(
                                    studentForm("Faculty"),
                                    options(Seq("Công nghệ thông tin ", "Điện tử viễn thông ", "Cơ điện tử ", "Khoa học máy tính")),
                                    '_label -> "Khoa", '_default -> "--Chọn khoa--", '_showConstraints -> true, 'class -> "form-control"
                                )
                                @helper.inputText(studentForm("phoneNumber"), '_label -> "Số Điện Thoại", 'class -> "form-control")

                            </div>
                            <div class="col-md-6 col-md-offset-3">
                            @helper.textarea(studentForm("notes"), '_label -> "Ghi chú", 'class -> "form-control")

                            </div>

                            <div class="col-xs-6">
                                <input type="submit" class="btn btn-primary" value="Lưu">
                                <a class="btn" href="@routes.Admin.save()">Hủy</a>
                            </div>
                        </form>

                    </div>

                }
            </section>
        </div>
    }

