@(currentPage: com.avaje.ebean.Page[Student])
    @main("Học Viên ") {
        @navigation()

        <div class="container" >
            <section>
                <h2>Danh Sách Học Viên</h2>
                <script>
                function del ( urlToDelete ) {
                $.ajax ( {
                url : urlToDelete,
                type : 'DELETE',
                success : function ( results ) {
                // Refresh the page
                location.reload ( ) ;
                }
                } ) ;
                }

                </script>
                <div id="pagination" class="pagination">
                    @if(currentPage.hasPrev) {
                        <li>
                            <a href="@routes.Admin.list(currentPage.getPageIndex - 1)">
                                    &larr;
                            </a>
                        </li>
                    } else {
                        <li class="disabled"><a>&larr;</a></li>
                    }
                    <li class="active">
                        <a>@currentPage.getDisplayXtoYofZ(" - ", " / ")</a>
                    </li>
                    @if(currentPage.hasNext) {
                        <li>
                            <a href="@routes.Admin.list(currentPage.getPageIndex + 1)">&rarr;</a>
                        </li>
                    } else {
                        <li class="disabled"><a>&rarr;</a></li>
                    }
                </div>

                <table class="table table-striped table-bordered ">
                    <thead>
                        <tr>
                            <th>Mã Học Viên</th>
                            <th>Họ Tên </th>
                            <th>Ngày Sinh</th>
                            <th>Số Điện Thoại</th>
                            <th>Khoa </th>
                            <th>Khóa Học</th>

                            <th> Sửa/Xóa</th>
                        </tr>
                    </thead>
                    <tbody>
                    @for(student <- currentPage.getList()) {
                        <tr>
                            <td>@student.stt</td>
                            <td><a href="@routes.Admin.details(student)">@student.name</a></td>
                            <td>
                            @if(student.birthday != null) {
                                @student.birthday.format("dd-MM-yyyy")
                            }
                            </td>
                            <td>@student.phoneNumber</td>
                            <td>@student.faculty</td>
                            <td>@student.course</td>
                            <td>
                                <a href="@routes.Admin.details(student)">
                                    <span class="glyphicon glyphicon-pencil"></span></a>
                                <a onclick="javascript : del ( '  @routes.Admin.delete(student.email) ')">
                                    <span class="glyphicon glyphicon-trash"></span></a>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>

                <a href="@routes.Admin.newStudent()" class="btn btn-primary">Tạo Mới</a>
            </section>
        </div>
    }
