@()
<script src="@routes.Assets.at("bootstrap/js/bootstrap.min.js")" type="text/javascript"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<link href="@routes.Assets.at("bootstrap/css/bootstrap.min.css")"

<body>
    <div class="container" >
        <div class="page-header no-margin no-padding ">
            <img src="@routes.Assets.at("images/banner.jpg")" class="img-responsive" alt="Administrator" />
        </div>
        <nav class="navbar navbar-custom navbar-static-top no-margin no-padding  ">
            <div class="navbar-header">
                <a class="navbar-brand" href="@routes.Admin.home()">Quản Lý</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            Học Viên <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="@routes.Admin.list(0)">Danh sách học viên </a></li>
                            <li><a href="@routes.Admin.newStudent()">Thêm tài khoản</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            Giáo Viên <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="@routes.AdminTeacher.listTeacher()">Danh sách giáo viên </a></li>
                            <li><a href="@routes.AdminTeacher.newTeacher()">Thêm tài khoản</a></li>
                        </ul>
                    </li>

                </ul>

                <ul class="nav navbar-nav navbar-right">
                    @if(session.get("email") == null) {
                        <li><a href="@routes.Application.login()">Đăng nhập</a></li>
                    } else {
                        <li><a>Admin</a></li>
                        <li><a href="@routes.Application.logout()">Đăng Xuất</a></li>
                    }
                    <li><a></a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </div>
</body>