@()
<script src="@routes.Assets.at("bootstrap/js/bootstrap.min.js")" type="text/javascript"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<link href="@routes.Assets.at("bootstrap/css/bootstrap.min.css")"
<body>
    <div class="container" >
        <div class="page-header no-margin no-padding ">
            <img src="@routes.Assets.at("images/banner.jpg")" class="img-responsive" alt="Administrator" />
        </div>
        <nav class="navbar navbar-custom navbar-static-top no-margin no-padding  ">
            <div class="navbar-header">
                <a class="navbar-brand" href="@routes.Teachers.index()">Quản Lý</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">

                    <li><a href="@routes.Teachers.details()">Sửa thông tin </a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if(session.get("email") == null) {
                        <li><a href="@routes.Application.login()">Đăng nhập</a></li>
                    } else {
                        <li><a>@session.get("name")</a></li>
                        <li><a href="@routes.Application.logout()">Đăng Xuất</a></li>
                    }
                    <li><a></a></li>
                </ul>

            </div><!-- /.navbar-collapse -->
        </nav>
    </div>
</body>